{% load i18n %}
{% load cal.time %}
{% load l10n %}
<div class="job-details mb-3 card{% if job.started %} job-started{% endif %} {% block css_classes %}{% endblock %}"
     data-start-time="{{ job.time|get_local_hour|unlocalize }}"
     data-end-time="{{ job.end_time|get_local_hour|unlocalize }}"
     data-free-slots="{{ job.free_slots }}"
     data-area="{{ job.type.activityarea.id }}">
    <div class="card-body">
        {% block body %}
            <div class="row">
                <div class="col-10 col-lg-2">
                    <span class="text-lg-right">
                        <span class="job-time">
                            <strong>{{ job.time|date:'TIME_FORMAT' }}</strong>
                            <small class="job-time-sep d-lg-none">-</small>
                            <small>{{ job.end_time|date:'TIME_FORMAT' }}</small>
                        </span>
                        <span class="job-date ml-3 ml-lg-0 text-muted compact-hide">
                            {{ job.time|date:'SHORT_DATE_FORMAT' }}
                        </span>
                    </span>
                </div>
                <div class="p-4 job-core">
                    {% if job.type.activityarea.core %}
                        {% include "../core.html" %}
                    {% endif %}
                </div>
                <div class="col-lg-9 position-static">
                    <p class="job-title h4 mb-1 mb-lg-0 card-title">
                        <a href="{% url 'job' job.id %}" class="stretched-link"
                            {% if job.type.activityarea.core %}
                                title="{% trans "Kernbereich" %}"
                            {% endif %}>
                            {{ job.type.get_name }}
                        </a>
                    </p>
                    <div>
                        {% if job.multiplier != 1 %}
                            {% include "../multiplier.html" %}
                        {% endif %}
                        <p class="job-area mb-0">
                            <span class="text-muted">{{ job.type.activityarea }}</span>
                        </p>
                        <p class="job-location mb-0">
                            <i class="bi bi-geo-alt-fill compact-hide"></i>
                            <span class="job-location-name">{{ job.type.location.name }}</span>
                            {% if job.type.location.address %}
                                <span class="job-location-address compact-hide">{{ job.type.location.address }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endblock body %}
    </div>

    <div class="progress card-progress">
        <div class="progress-bar
                {% if status < 25 %}
                    bg-danger
                {% elif status < 100 %}
                    bg-warning
                {% else %}
                    bg-success
                {% endif %}"
             role="progressbar"
             style="width: {{ status|floatformat:0 }}%; {% if job.infinite_slots %}max-width:91%;{% endif %}"
             aria-valuenow="{{ job.occupied_slots }}"
             aria-valuemin="0"
             aria-valuemax="{{ job.slots }}">
            <span>
                <strong>{{ job.occupied_slots }} / {% if job.infinite_slots %}&infin;{% else %}{{ job.slots }}{% endif %}</strong>
                {% blocktrans count s=job.slots %}Person{% plural %}Personen{% endblocktrans %}
            </span>
        </div>
    </div>
</div>