.card-progress {
    border-radius: 0 0 .25rem .25rem;
    height: 1.5rem;
    font-size: 1.2rem;
}

.card-progress .progress-bar {
    text-align: left;
    padding: 0 1rem;
    min-width: 10rem;
}

.job-day::before, .job-month::before {
    /* moves anchors below toolbar */
    content: '';
    display: block;
    height: 180px;
    margin-top: -180px;
    visibility: hidden;
}

.job-time {
    font-size: 150%;
    line-height: 1.2;
}

.job-is-core {
    float: right;
    vertical-align: initial;
}

.job-full .job-is-core {
    display: none;
}

.job-full .job-area, .job-full .job-location, .job-full .job-date {
    display: none;
}

.job-full p {
    font-size: 1rem;
    line-height: 1.2;
}

.job-full .job-time {
    font-size: 100%;
}

.job-full .job-time-sep {
    display: initial !important;
}

.job-full .card-progress {
    height: 3px;
}

.job-full .card-progress .progress-bar {
    color: transparent;
}

.job-canceled {
    text-decoration: line-through;
}

.job-canceled .card-progress {
    display: none;
}

.job-day-sep::before,
.job-day-sep::after {
    background-color: #21252988;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    margin: 0 3%;
}

.no-day-jobs {
    display: none;
}

.hide-jobs .no-day-jobs {
    display: block;
}

.hide-jobs .job-details, .hide-jobs .job-day-sep, .hide-jobs .no-job-sep {
    display: none;
}


/* calendar dropdown */

#calendar-toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fefffa;
}

.calendar-dot {
    width: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.calendar-drowpdown {
    width: 270px;
    max-height: 80vh;
    overflow: hidden auto;
}

@media (min-width: 576px) {
    .calendar-drowpdown {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .calendar-drowpdown {
        width: 810px;
    }
}

.calendar-drowpdown a {
    color: rgb(33, 37, 41);
}

.calendar-today {
    background-color: black;
    color: white;
    font-weight: bold;
}

.calendar-today a {
    color: white;
}

.job-core {
    position: absolute;
    right: 0;
    top: 0;
}

.job-started {
    opacity: 0.5;
}

#load_previous_jobs:not(:first-child) {
    display: none;
}

#load_next_jobs:not(:last-child) {
    display: none;
}

#jobs_calendar_loader {
    /* ensures, that page doesn't jump up, while new content is loading */
    min-height: 100vh
}


/* search field */
#job_search_clear {
    border-color: #ced4da;
    background: white;
    border-left: 0;
}

#job_search_clear.is-empty {
    color: transparent;
    cursor: auto;
}

#job_search_field {
    border-right: 0;
}

/* Archive */
.job-calendar-archive .job-month-title-text {
    display: none;
}

.job-calendar-archive .job-started {
    opacity: 1;
}

.archive-calendar th.month {
    display: none;
}

.archive-calendar {
    width: max-content;
}

/* Compact view */
.compact .job-details:not(.job-full) .row *>:not(.d-none) {
    display: inline-block;
}

.compact .compact-hide {
    display: none !important;
}

.compact .job-month-title {
    text-align: left !important;
    margin-top: 0 !important;
}

.compact .job-day-header {
    text-align: left !important;
    margin-bottom: 0.2em !important;
}

.compact .job-day-header h4 {
    font-size: 1.2rem !important;
    margin: 0;
}

.compact .no-day-jobs {
    text-align: left !important;
}

.compact .job-details {
    margin-bottom: 0.3rem !important;
}

.compact .card-body {
    padding: 0.25rem 0.75rem;
}

.compact .job-time {
    font-size: 100%;
    white-space: nowrap;
}

.compact .job-time-sep {
    display: inline !important;
}

.compact .card-progress {
    height: 3px;
}

.compact .card-progress .progress-bar {
    min-width: 3rem;
}


.compact .card-progress .progress-bar span {
    display: none;
}

.compact .job-title, .compact .job-area {
    margin-right: 0.8rem;
    font-size: 1.125rem;
}

.compact .job-core {
    padding: 0.25rem 1.25rem !important;
}

.compact .job-is-core {
    padding: 0.25rem 0;
}

@media (max-width: 575px) {
    .compact .job-area, .compact .job-location {
        display: none !important;
    }
}