.card-progress {
    border-radius: 0 0 .25rem .25rem;
    height: 1.5rem;
    font-size: 1.2rem;
}

.card-progress .progress-bar {
    text-align: left;
    padding: 0 1rem;
    min-width: 10rem;
}

.job-day::before, .job-month::before {
    /* moves anchors below toolbar */
    content: '';
    display: block;
    height: 180px;
    margin-top: -180px;
    visibility: hidden;
}

.job-time {
    font-size: 150%;
    line-height: 1.2;
}

.job-is-core {
    float: right;
    vertical-align: initial;
}

.job-full .job-is-core {
    display: none;
}

.job-details.border-primary::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 1.2rem;
    border-style: solid;
    border-color: #66cc66 transparent transparent #66cc66;
    border-radius: .15rem 0 0 0;
    margin-bottom: -2.4rem;
}

.job-full.job-details.border-primary::before {
    border-width: 0;
    margin-bottom: 0;
}

.job-full .job-area, .job-full .job-location, .job-full .job-date {
    display: none;
}

.job-full p {
    font-size: 1rem;
    line-height: 1.2;
}

.job-full .job-time {
    font-size: .75em;
}

.job-full .job-time-sep {
    display: initial !important;
}

.job-full .card-progress {
    height: 3px;
}

.job-full .card-progress .progress-bar {
    color: transparent;
}

.job-day-sep::before,
.job-day-sep::after {
    background-color: #21252988;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    margin: 0 3%;
}

#calendar-toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fefffa;
}

.calendar-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.calendar-drowpdown {
    width: 270px;
    max-height: 80vh;
    overflow: hidden auto;
}

@media (min-width: 576px) {
    .calendar-drowpdown {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .calendar-drowpdown {
        width: 810px;
    }
}

.calendar-drowpdown a {
    color: rgb(33, 37, 41);
}

.calendar-today {
    background-color: black;
    color: white;
    font-weight: bold;
}

.calendar-today a {
    color: white;
}

.job-core {
    height: 0;
}

.job-started {
    opacity: 0.5;
}

#load_previous_jobs:not(:first-child) {
    display: none;
}

#load_next_jobs:not(:last-child) {
    display: none;
}
