{% load l10n %}
{% load cal.time %}
{% load juntagrico.config %}
{% load i18n %}

<div id="jobs_calendar_loader" class="my-3 text-center d-none">
    <div class="spinner-border" role="status">
        <span class="sr-only">{% trans "Lädt..." %}</span>
    </div>
</div>

<div id="jobs_calendar">
    {% if show_previous %}
        <div id="load_previous_jobs" class="text-center">
            <a href="{% url 'jobs-by-month' show_previous.year show_previous.month %}"
               data-url="{% url 'partial-jobs-by-month' show_previous.year show_previous.month %}"
               class="btn btn-outline-primary btn-lg">
                {% trans "ältere Einsätze" %}
            </a>
            <div class="spinner-border d-none" role="status">
              <span class="sr-only">{% trans "Lädt..." %}</span>
            </div>
        </div>
    {% endif %}

    {% regroup jobs by time|date:'Y' as jobs_by_year %}
    {% for year in jobs_by_year %}
        {% regroup year.list by time|date:'F' as jobs_by_month %}
        {% for month in jobs_by_month %}
            <div id="job-month-{{ month.grouper }}-{{ year.grouper }}"
                 class="job-month job-month-{{ month.grouper }} mb-5"
                 data-title="{{ month.grouper }}" data-year="{{ year.grouper }}">
                <div class="job-month-title text-center {% if compact %}mt-1{% else %}mt-5{% endif %}">
                    <p class="display-4 job-month-title-text">{{ month.grouper }}</p>
                </div>
                {% regroup month.list by time|get_local_date as jobs_by_day %}
                {% for day in jobs_by_day %}
                    <div class="job-day job-day-{{ day.grouper|date:'w' }} mt-4"
                         id="job-day-{{ day.grouper|date:'Y-n-j' }}">
                        <div class="text-center mb-4 job-day-header">
                            <h4>
                                {{ day.grouper|date:'l j. F Y'|upper }}
                            </h4>
                        </div>
                        <div class="text-center no-day-jobs">
                            {% blocktrans %}Keine passenden Einsätze an diesem Tag{% endblocktrans %}
                        </div>
                        {% for job in day.list %}
                            {% with status=job.status_percentage %}
                                {% ifchanged %}
                                    {% if not compact and job.time|get_local_hour >= 12 %}
                                        <div class="text-center mb-3 job-day-sep">
                                            <i class="bi bi-sun"></i>
                                        </div>
                                    {% endif %}
                                {% endifchanged %}
                                <div class="job-details mb-3 card{% if status == 100 and not job.infinite_slots %} job-full{% endif %}{% if job.started %} job-started{% endif %}{% if job.canceled %} job-canceled{% endif %}"
                                     data-start-time="{{ job.time|get_local_hour|unlocalize }}"
                                     data-end-time="{{ job.end_time|get_local_hour|unlocalize }}"
                                     data-free-slots="{{ job.free_slots }}"
                                     data-area="{{ job.type.activityarea.id }}">
                                    <div class="card-body">
                                        {% if job.canceled %}
                                            <i class="bi bi-x-circle float-left text-danger"></i>
                                        {% elif status == 100 and not job.infinite_slots %}
                                            <i class="job-full-icon bi bi-check-circle-fill float-left text-success"></i>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-10 col-lg-2">
                                                <p class="mb-1 text-lg-right">
                                                    <span class="job-time">
                                                        <strong>{{ job.time|date:'TIME_FORMAT' }}</strong>
                                                        <small class="job-time-sep d-lg-none">-</small>
                                                        <small>{{ job.end_time|date:'TIME_FORMAT' }}</small>
                                                    </span>
                                                    <span class="job-date ml-3 ml-lg-0 text-muted">
                                                        {{ job.time|date:'SHORT_DATE_FORMAT' }}
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-2 d-lg-none job-core">
                                                {% if job.type.activityarea.core %}
                                                    {% include "./core.html" %}
                                                {% endif %}
                                            </div>
                                            <div class="col-lg-9 position-static">
                                                <p class="job-title h4 mb-1 mb-lg-0 card-title">
                                                    <a href="{% url 'job' job.id %}" class="stretched-link"
                                                        {% if job.canceled %}
                                                            title="{% trans "Abgesagt" %}"
                                                        {% elif job.type.activityarea.core %}
                                                            title="{% trans "Kernbereich" %}"
                                                        {% endif %}>
                                                        {{ job.type.get_name }}
                                                    </a>
                                                </p>
                                                {% if job.multiplier != 1 %}
                                                    {% include "./multiplier.html" %}
                                                {% endif %}
                                                <p class="job-area mb-0">
                                                    <span class="text-muted">{{ job.type.activityarea }}</span>
                                                </p>
                                                <p class="job-location mb-0">
                                                    <i class="bi bi-geo-alt-fill"></i>
                                                    {{ job.type.location }}
                                                </p>
                                            </div>
                                            <div class="col-lg-1 d-none d-lg-block job-core">
                                                {% if job.type.activityarea.core %}
                                                    {% include "./core.html" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="progress card-progress">
                                        <div class="progress-bar
                                                {% if status < 25 %}
                                                    bg-danger
                                                {% elif status < 100 %}
                                                    bg-warning
                                                {% else %}
                                                    bg-success
                                                {% endif %}"
                                             role="progressbar"
                                             style="width: {{ status|floatformat:0 }}%; {% if job.infinite_slots %}max-width:91%;{% endif %}"
                                             aria-valuenow="{{ job.occupied_slots }}"
                                             aria-valuemin="0"
                                             aria-valuemax="{{ job.slots }}">
                                            <span>
                                                <strong>{{ job.occupied_slots }} / {% if job.infinite_slots %}&infin;{% else %}{{ job.slots }}{% endif %}</strong>
                                                {% blocktrans count s=job.slots %}Person{% plural %}Personen{% endblocktrans %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% if not compact and forloop.last and job.time|get_local_hour < 12 %}
                                    <div class="text-center mb-3 job-day-sep">
                                        <i class="bi bi-sun"></i>
                                    </div>
                                    <div class="text-center mt-5 mb-5 no-job-sep">
                                        {% with "tree tree-fill leaf leaf-fill water bug flower1 flower2 flower3" as nature %}
                                            <i class="bi bi-{{ nature.split|random }} lead"></i>
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        {% if not compact %}
                            <div class="text-center mb-5 job-day-sep">
                                <i class="bi bi-moon-fill"></i>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="text-center no-jobs" style="display: none;">
                    {% blocktrans with month=month.grouper %}Keine passenden Einsätze im {{ month }}{% endblocktrans %}
                </div>
            </div>
        {% endfor %}
    {% empty %}
        {% trans "Keine Einsätze gefunden" %}
    {% endfor %}

    {% if show_next %}
        <div id="load_next_jobs" class="text-center">
            <a href="{% url 'jobs-by-month' show_next.year show_next.month %}"
               data-url="{% url 'partial-jobs-by-month' show_next.year show_next.month %}"
               class="btn btn-primary btn-lg">
                {% trans "mehr anzeigen" %}
            </a>
            <div class="spinner-border d-none" role="status">
              <span class="sr-only">{% trans "Lädt..." %}</span>
            </div>
        </div>
    {% endif %}
</div>